<form action="" method="post">
    <label for="autonomy">Autonomie</label>
    <input type="text" name="autonomy" id="autonomy">
    <label for="temps_de_recharge">Temps de recharge</label>
    <input type="text" name="temps_de_recharge" id="temps_de_recharge">
    <label for="distance">Distance</label>
    <input type="text" name="distance" id="distance">
    <input type="submit" value="Calculer">
</form>

{% if time and price %}
<p>Le temps de recharge est de {{ time }} heures et le prix est de {{ price }} euros.</p>
{% endif %}