<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <style>
        .sidebar {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: white;
            padding: 10px;
            border: 1px solid #ccc;
            z-index: 1000;
        }
    </style>
</head>

<body>

    <div class="sidebar">
        <h2>Station de recharge la plus proche</h2>
        <form action="/nearest_station" method="post">
            <label for="latitude">Latitude:</label>
            <input type="text" id="latitude" name="latitude" required>
            <label for="longitude">Longitude:</label>
            <input type="text" id="longitude" name="longitude" required>
            <button type="submit">Rechercher</button>
        </form>

        <h2>Trajet</h2>
        <form action="/trajet" method="post">
            <label for="start">Départ:</label>
            <input type="text" id="start" name="start" required>
            <label for="end">Arrivée:</label>
            <input type="text" id="end" name="end" required>
            <button type="submit">Obtenir le trajet</button>
        </form>
    </div>

    {% if map_html %}
    <div>{{ map_html|safe }}</div>
    {% endif %}

    <h2>Liste des véhicules</h2>
    <label>Sélectionnez un véhicule:</label>
    <select id="vehicleSelect">
        <option value="">--Sélectionnez un véhicule--</option>
        {% for vehicle in vehicles %}
        <option value="{{ vehicle.id }}">{{ vehicle.naming.make }} {{ vehicle.naming.model }}</option>
        {% endfor %}
    </select>

    <div id="vehicleInfo"></div>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <script>
        document.getElementById('vehicleSelect').addEventListener('change', function () {
            var selectedVehicleId = this.value;
            var vehicles = JSON.parse('{{ vehicles|tojson }}');
            var selectedVehicle = vehicles.find(vehicle => vehicle.id == selectedVehicleId);
            if (selectedVehicle) {
                var vehicleInfoHtml = `
                        <h3>Informations du véhicule</h3>
                        <p>Modèle: ${selectedVehicle.naming.make} ${selectedVehicle.naming.model}</p>
                        <p>Capacité de la batterie: ${selectedVehicle.battery.usable_kwh} kWh</p>
                        <p>Autonomie: ${selectedVehicle.range.chargetrip_range.worst} km</p>
                        <img src="${selectedVehicle.media.image.thumbnail_url}" alt="Image du véhicule">
                    `;
                document.getElementById('vehicleInfo').innerHTML = vehicleInfoHtml;
            } else {
                document.getElementById('vehicleInfo').innerHTML = '';
            }
        });
    </script>
</body>

</html>